<div>
  
  <form class="searchForm">
    <mat-form-field class="rightPadding">
      <input type="text" matInput placeholder="Name">
    </mat-form-field>
        
    <mat-form-field class="rightPadding">
      <input type="text" matInput placeholder="Name">
    </mat-form-field>
              
    <mat-form-field class="rightPadding">
      <mat-label>Favorite food</mat-label>
      <mat-select>
        <!-- <mat-option value=""></mat-option> -->
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="rightPadding">
      <input matInput [matDatepicker]="picker" placeholder="Choose a start date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker disabled="false"></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="rightPadding">
      <input matInput [matDatepicker]="picker1" placeholder="Choose a end date">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker disabled="false"></mat-datepicker>
    </mat-form-field>
    
    <mat-form-field class="rightPadding">
      <mat-label>Favorite food</mat-label>
      <mat-select>
        <!-- <mat-option value=""></mat-option> -->
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    &nbsp;
    <button mat-raised-button color="primary" class="rightPadding">Search</button>&nbsp;
    <button mat-raised-button color="primary" class="rightPadding">Clear</button>
  </form>

</div>

<mat-form-field>
    <input (keyup)="apfilter($event.target.value)" matInput placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
<table mat-table [dataSource]="dataSource" matSort >

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Weight </th>
          <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
<mat-paginator [pageSizeOptions]="[4,6,10]" showFirstLastButtons></mat-paginator>
    </div>