<h3 mat-dialog-title>Select any one sangam</h3>
<mat-dialog-content>

    <table>
    <tr>
      <td>ID</td>
      <td>SANGAM NAME</td>
      <td>CREATED DATE</td>
      <td>ACTIVE</td>
    </tr>
    <tr *ngFor="let s of organizer.sangamDto" (click)="onSelectSangam(s.id)">
      <td>{{ s.id }}</td>
      <td>{{ s.name }}</td>
      <td>{{ s.createdTs }}</td>
      <td>{{ s.isActive }}</td>
    </tr>
  </table>

  <!-- <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> NAME </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="createdTs">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> CREATED DATE </th>
      <td mat-cell *matCellDef="let element"> {{element.createdTs}} </td>
    </ng-container>
    <ng-container matColumnDef="isActive">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ACTIVE </th>
      <td mat-cell *matCellDef="let element"> {{element.isActive}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> -->
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close color="primary">CLOSE</button>
</mat-dialog-actions>
