<h3 mat-dialog-title>Sangam : Group-1</h3>

<mat-dialog-content>
    <p *ngIf="message" color="info">{{message}}</p>
    <p>
        <mat-form-field>
                <mat-label>Name</mat-label>
                <input type="text" matInput [(ngModel)]="paymentDto.name" disabled>
            </mat-form-field>
            <mat-form-field>
                    <mat-label>Mobile</mat-label>
                    <input type="text" matInput [(ngModel)]="paymentDto.name" disabled>
                </mat-form-field>
                
        </p>
    <table cellspacing="0">
        <tr>
            <td>
                <mat-form-field>
                    <mat-label>Total Saving</mat-label>
                    <input type="number" matInput [(ngModel)]="paymentDto.savingAmount" disabled>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field>
                  <mat-label>Loan Amount</mat-label>
                  <input type="number" matInput [(ngModel)]="paymentDto.loanAmount" disabled>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field>
                    <mat-label>Loan Remaining</mat-label>
                    <input type="number" matInput [(ngModel)]="paymentDto.loanRemAmount" disabled>
                </mat-form-field>
            </td>
        </tr>
        <tr>
                <td>
                        <mat-form-field>
                            <mat-label>Saving</mat-label>
                            <input type="number" matInput>
                        </mat-form-field>
                    </td>
                     <td colspan="1">
                        <mat-form-field>
                        <mat-label>Payment Date</mat-label>
                        <input type="date" matInput>
                    </mat-form-field>
                    </td>
        </tr>
        <tr *ngIf="paymentDto.loanAmount">
                <td>
                        <mat-form-field>
                            <mat-label>Pay Loan</mat-label>
                            <input type="number" matInput>
                        </mat-form-field>
                    </td>
                    <td colspan="1">
                        <mat-form-field>
                          <mat-label>Interest Amount</mat-label>
                          <input type="number" matInput>
                        </mat-form-field>
                    </td>
        </tr>
    </table>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onSave()">SAVE</button>
    <button mat-raised-button mat-dialog-close color="primary">CLOSE</button>
</mat-dialog-actions>