<mat-card>
    
    <mat-card-title>
        <mat-icon color="primary" style="line-height: 1.2;">person</mat-icon> Login
    </mat-card-title>
        
    <mat-card-content style="height: 220px;">
            
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            
            <mat-error *ngIf="isLoginErr" style="text-align: center">{{errMsg}}</mat-error>
            
            <p>
            <mat-form-field style="width: 430px;">
                <input type="text" matInput required placeholder="Username" formControlName="username">
                <mat-error align="start" *ngIf="username.invalid && username.touched">
                    <small *ngIf="username.errors?.required">Username is required</small>
                </mat-error>
            </mat-form-field>
            </p>
            
            <p>
            <mat-form-field style="width: 430px;">
                <input type="password" matInput required placeholder="Password" formControlName="password">
                <mat-error  *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
                    <small *ngIf="loginForm.get('password').errors?.required">Password is required</small>
                </mat-error >
            </mat-form-field>
            </p>
            
            <div>
                <button [disabled]="loginForm.invalid" color="primary" type="submit" mat-raised-button class="button">Login</button>
            </div>

        </form>
    </mat-card-content>

</mat-card>
 