<mat-toolbar class="example-header" color="primary">
    <div>Logo</div>
    <span> 
        <mat-icon *ngIf="opened"  (click)="navBarToggle()" style="line-height: 1.8;">menu</mat-icon>
        <mat-icon *ngIf="!opened" (click)="navBarToggle()" style="line-height: 1.8;">arrow_back</mat-icon>
    </span>
    <span class="title-center">Sangam Web Application</span>
    <div *ngIf="loginSvc.isUserLoggedIn()">
        <span style="font-size: smaller" [matMenuTriggerFor]="menu">
                {{ welcomeUser() | titlecase }}
        </span>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/editprofile"><mat-icon mat-list-icon>edit</mat-icon>Edit Profile</button>
            <button mat-menu-item (click)=logout()><mat-icon mat-list-icon>logout</mat-icon>Logout</button>
        </mat-menu>
    </div>
</mat-toolbar>    

<mat-sidenav-container class="example-container">
    
    <mat-sidenav mode="side" [(opened)]="opened" class="example-sidenav" >
        <mat-nav-list *ngIf="loginSvc.isUserLoggedIn()">
            <a mat-list-item [routerLink]="'/dashboard'" routerLinkActive="active-list-item"> 
                <mat-icon mat-list-icon>dashboard</mat-icon> Dashboard 
            </a>
            <a mat-list-item [routerLink]="'/payments'" routerLinkActive="active-list-item">
                <mat-icon mat-list-icon>payment</mat-icon> Payments
            </a>
            <a mat-list-item [routerLink]="'/registration'" routerLinkActive="active-list-item"> 
                <mat-icon mat-list-icon>person_add</mat-icon> Registration 
            </a>
            <a mat-list-item [routerLink]="'/settings'" routerLinkActive="active-list-item"> 
                <mat-icon mat-list-icon>settings</mat-icon> Settings 
            </a>
            <a mat-list-item [routerLink]="'/reports'" routerLinkActive="active-list-item"> 
                <mat-icon mat-list-icon>report</mat-icon> Reports 
            </a>
            <a mat-list-item (click)=logout() routerLinkActive="active-list-item"> 
                <mat-icon mat-list-icon>logout</mat-icon> Logout 
            </a>
        </mat-nav-list>
        <mat-nav-list *ngIf="!loginSvc.isUserLoggedIn()">
            <a mat-list-item [routerLink]="'/login'" routerLinkActive="active-list-item"> 
                <mat-icon mat-list-icon>home</mat-icon> Home 
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>

<!-- <mat-toolbar class="example-footer">Footer</mat-toolbar> -->
