.navbar {
    justify-content: space-between;
}


span {
    padding-left: 1rem;
}

.title-center {
    margin: 0 auto;
}

.example-container {
    position: absolute;
    top: 50px;
    bottom: 0px;
    left: 0;
    right: 0;
    padding-block-end: 18px;
}
  
.example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    /* background: rgba(101, 106, 109, 0.493); */
  }
  
  .example-header {
    position: fixed;
    top: -8px;
    left: 0;
    right: 0;
  }

  .example-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  


  .active-list-item {
    color: #3F51B5 !important; /* Note: You could also use a custom theme */
  }