<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort >
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Saving Column -->
        <ng-container matColumnDef="savingAmount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Saving Amount </th>
            <td mat-cell *matCellDef="let element"> {{element.savingAmount}} </td>
        </ng-container>

        <!-- Loan Column -->
        <ng-container matColumnDef="loanAmount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Loan Amount </th>
            <td mat-cell *matCellDef="let element"> {{element.loanAmount}} </td>
        </ng-container>

        <!-- Loan Remaining Column -->
        <ng-container matColumnDef="loanRemAmount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Loan Remaining Amount </th>
            <td mat-cell *matCellDef="let element"> {{element.loanRemAmount}} </td>
        </ng-container>

        <!-- Get Details -->
        <ng-container matColumnDef="getdetails">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button
                    matTooltip="Pay saving/loan"
                    matTooltipClass="tooltip-red"
                    matTooltipPosition="above"
                    color="primary"><mat-icon (click)="loadPaymentDialog(element)">edit</mat-icon></button>
                &nbsp;&nbsp;
                <button mat-raised-button
                    matTooltip="View profile"
                    matTooltipClass="tooltip-red"
                    matTooltipPosition="above"
                    color="primary"><mat-icon (click)="getRecord(element.name)">open_in_new</mat-icon></button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10,20,30]" showFirstLastButtons></mat-paginator>
</div>

