{{ registerForm.value | json }}
<form [formGroup]="registerForm">

    <mat-form-field class="rightPadding">
        <input formControlName="firstName" type="text" matInput placeholder="First Name">
        <mat-error align="start" *ngIf="firstName.invalid && firstName.touched">
            <small *ngIf="firstName.errors?.required">First Name is required</small>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="rightPadding">
        <input formControlName="lastName" type="text" matInput placeholder="Last Name">
    </mat-form-field>

    <mat-label id="Gender">Gender</mat-label>
    <mat-radio-group formControlName="gender" aria-label="Gender" class="radio-group rightPadding" color="primary">
        <mat-radio-button value="M"  class="radio-button">Male</mat-radio-button>
        <mat-radio-button value="FM" class="radio-button">Female</mat-radio-button>
        <mat-radio-button value="O"  class="radio-button">Other</mat-radio-button>
        <mat-error align="start" *ngIf="gender.pristine && gender.untouched">
            <small *ngIf="gender.errors?.required">Gender is required</small>
        </mat-error>
    </mat-radio-group>


    <mat-form-field class="rightPadding">
        <input formControlName="dob" matInput [matDatepicker]="picker" placeholder="Date of birth">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
        <mat-error align="start" *ngIf="dob.invalid && dob.touched">
            <small *ngIf="dob.errors?.required">Date of Birth is required</small>
        </mat-error>
    </mat-form-field>
      
    <mat-form-field class="rightPadding">
        <input formControlName="mobile" type="number" minlength="2" matInput placeholder="Mobile Number">
        <mat-error align="start" *ngIf="mobile.invalid && mobile.touched">
            <small *ngIf="mobile.errors?.required">Mobile number is required</small>
            <small *ngIf="mobile.errors?.minlength">Mobile number must be 10 numbers</small>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="rightPadding">
        <input formControlName="email" type="text" matInput placeholder="Email ID">
    </mat-form-field>
    
    <mat-form-field class="rightPadding">
        <input formControlName="street" type="text" matInput placeholder="Door No/Street name">
    </mat-form-field>
    
    <mat-form-field class="rightPadding">
        <input formControlName="city" type="text" matInput placeholder="Town/City name">
    </mat-form-field>
    
    <mat-form-field class="rightPadding">
        <input formControlName="district" type="text" matInput placeholder="District">
    </mat-form-field>
    
    <mat-form-field class="rightPadding">
        <input formControlName="postalcode" type="text" matInput placeholder="Postalcode">
    </mat-form-field>

    <mat-form-field class="rightPadding">
        <mat-label>State</mat-label>
        <mat-select formControlName="state">
            <mat-option value="TN">Tamil Nadu</mat-option>
            <mat-option value="KL">Kerala</mat-option>
            <mat-option value="AP">Andhra</mat-option>
        </mat-select>
       
    </mat-form-field>
    
    <mat-form-field class="rightPadding">
        <input formControlName="country" type="text" matInput placeholder="Country">
    </mat-form-field>
    <button mat-raised-button color="primary" class="rightPadding">Save</button>&nbsp;
    <button mat-raised-button color="primary" class="rightPadding">Clear</button>
</form>
